# Database
DB_URL=jdbc:postgresql://localhost:5432/flight_booking_db
DB_USERNAME=postgres
DB_PASSWORD=postgres

# Redis
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=

# Liquibase (Custom Manual Config)
LIQUIBASE_CHANGELOG=classpath:db/changelog/db.changelog-master.yaml
LIQUIBASE_SHOULD_RUN=true

# Initial Data
DEFAULT_TENANT_CODE=DEFAULT
DEFAULT_TENANT_NAME=Default Airline
DEFAULT_ADMIN_USERNAME=admin
DEFAULT_ADMIN_PASSWORD=ChangeMe123!

# Server
PORT=8080
